<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857272264769-5nq9oam0uib16n3irpq12jhoa3bfn3e2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857272264769-5nq9oam0uib16n3irpq12jhoa3bfn3e2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>857272264769-qmcsa8md2n3p27hmaoph8g4mjj4fqe4g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBr0N_5s0VXuE1dgRoYB10Q_kYvh9FddfI</string>
	<key>GCM_SENDER_ID</key>
	<string>857272264769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cafeFrontend</string>
	<key>PROJECT_ID</key>
	<string>project-getx</string>
	<key>STORAGE_BUCKET</key>
	<string>project-getx.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857272264769:ios:15b4b4b4b5128619cb7ec0</string>
</dict>
</plist>